
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
<script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=bNQT4CtUpfrxzwDTZIgUrlZ19uuQsFXZzSUZnfBG-5nV-Uxh18uCdOtgGWlxUjDRtfJCixJk69_vBnbTtXXp17Ejggp1-Kv96QaJdsNxFvp5a4hlkJ2YZA7T087-jd8TZTBqaj6zFtmm4BWCakZ_WA" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cDovL2VjMi0xMjItMjQ4LTIyOS00Ny5hcC1zb3V0aGVhc3QtMS5jb21wdXRlLmFtYXpvbmF3cy5jb206ODAwMC9hZG1pbi9sb2dnZXIv"/></head>

<div class="breadcrumbs">
  <a href="/dashboard/">Dashboard</a>
</div>

<body>
<!-- Content -->
<h2 class = "center">Dashboard</h2>
<div id="content" class="container">  
  <div id="content-main">
    <div class="dashboard_table">
      <table class = "dashboard_table">

        <tr class="model-device">
          <th class="longcol2" scope="row"><a href="/dashboard/sites/">Sites</a></th>
          <td class="longcol3"><a href="/dashboard/sites/add_site/" class="addlink">Add New Site</a></td>
        </tr>

        <tr class="model-site">
          <th class="longcol2" scope="row"><a href="/dashboard/projects/">Projects List</a></th>
          <td class="longcol3"><a href="/dashboard/projects/add_project/" class="addlink">Add New Project</a></td>   
        </tr>

        <tr class="model-alertemaillist">
          <th class="longcol2" scope="row"><a href="/admin/logger/alertemaillist/">Alert email lists</a></th>
          <td class="longcol3"><a href="/admin/logger/alertemaillist/add/" class="addlink">Add New Alert</a></td>
        </tr>

        <tr class="model-ftpexportjobs">
            <th class="longcol2" scope="row"><a href="/admin/logger/ftpexportjobs/">FTP export jobs</a></th>
            <td class="longcol3"><a href="/admin/logger/ftpexportjobs/add/" class="addlink">Add New Job</a></td>
        </tr>     
        <tr class="model-ftpexportjobs">
          <th class="longcol2" scope="row"><a href="/dashboard/full_map/">Full Location Map</a></th>
      </tr>    
      </table>
    </div>
  </div>
  <br class="clear">
</div>

</body>