<!-- Header -->
<div id="header">
  <div id="branding">
  <h1 id="site-name"><a href="/dashboard/">Waterland Group - Monitoring System</a></h1>
  </div>
  <div id="user-tools">
          Welcome，
          <strong>admin</strong> /
          <a href="/logout/">Logout</a>
  </div>
</div>
<!-- END Header -->