<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
<script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=bNQT4CtUpfrxzwDTZIgUrlZ19uuQsFXZzSUZnfBG-5nV-Uxh18uCdOtgGWlxUjDRtfJCixJk69_vBnbTtXXp17Ejggp1-Kv96QaJdsNxFvp5a4hlkJ2YZA7T087-jd8TZTBqaj6zFtmm4BWCakZ_WA" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cDovL2VjMi0xMjItMjQ4LTIyOS00Ny5hcC1zb3V0aGVhc3QtMS5jb21wdXRlLmFtYXpvbmF3cy5jb206ODAwMC9hZG1pbi9sb2dnZXIv"/></head>

<!-- lets build a full screen login area! -->
<div id="wrap">
     <div class="full-screen-container">
       <a href="#" class="close"><i class="fa fa-times"></i></a>
          <div class="form-wrap">
            <h1>Waterland Group - Monitoring System</h1>
            <div class="form-container">
            <form action="" method="POST">
              <label for="username"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="username">
          
              <label for="password"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password">
          
              <input type="submit" value="Login" class="btn">
          </form>
        </div>
       </div>

  </div>
</div>

     